<!DOCTYPE html>
<html lang="en">

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script> -->

<script>
	const modelUrl = "/static/model/model.json"

	function runModel(imagefile) {
		img = document.getElementById('outImage');
		console.log("Predicting on image:", img.src)


		// Create tensor from the image
		document.getElementById('predictions').innerHTML = "Loading image..."
		// , [1,-1,-1,3]
		imageTensor = tf.browser.fromPixels(img)

		imageTensor.print()

		// Load the model.
		document.getElementById('predictions').innerHTML = "Loading model..."
		tf.loadGraphModel(modelUrl).then(model => {
			// detect objects in the image.
			document.getElementById('predictions').innerHTML = "Creating predictions..."
			model.predict(imageTensor).then(predictions => {
				document.getElementById('predictions').innerHTML = predictions
				console.log('Predictions: ', predictions);
			});
		});
	}

	function handleInput(event) {
		var tgt = event.target || window.event.srcElement,
			files = tgt.files;

		// FileReader support
		if (FileReader && files && files.length) {
			var fr = new FileReader();
			fr.onload = function () {
				// image.src = URL.createObjectURL(event.target.files[0]);
				// document.getElementById("outImage").src = fr.result;
				document.getElementById("outImage").src = URL.createObjectURL(files[0]);
			}
			fr.readAsDataURL(files[0]);

			runModel(files[0]);
		}

		// Not supported
		else {
			// fallback -- perhaps submit the input to an iframe and temporarily store
			// them on the server until the user's session ends.
			document.getElementById('predictions').innerHTML = "Invalid input"
		}
	}

	// const model = load();  // load the model now to prevent any delay when user clicks 'Predict'
</script>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cat and Dog Detector</title>
</head>

<body>
	<h1>Hello world.</h1>
	<input onchange="handleInput(event)" id="inImage" label="inImage" type='file' placeholder="Upload an image" />
	<img id="outImage" src="" alt="preview of image uploaded" height="200" />
	<h2>Predictions:</h2>
	<p id="predictions"></p>
</body>

</html>